name: Run tests
on:
  pull_request:
  push:
    branches:
      - develop
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.18.0
          cache: yarn

      - name: Build and install the CLI
        run: |
          yarn install --frozen-lockfile
          yarn global:install
          echo "$(yarn global bin)" >> $GITHUB_PATH

      - name: Generate the theme
        run: yarn concurrently --group "figma2theme generate-json --latest-changes" "figma2theme generate-chakra --latest-changes"
        env:
          FIGMA_API_KEY: ${{secrets.FIGMA_API_KEY}}

      - name: Archive the theme
        uses: actions/upload-artifact@v2
        with:
          name: theme
          path: |
            ./tokens.json
            ./theme

      - name: Test, lint and typecheck the project and build Storybook
        run: yarn concurrently --group "yarn:test" "yarn:lint" "yarn:typecheck" "yarn:build-storybook"

      - name: Serve Storybook and run tests
        run: yarn concurrently -k -s first -n "SB,TEST" -c "magenta,blue" "yarn http-server storybook-static --port 6006 --silent" "yarn wait-on tcp:6006 && yarn test-storybook"
